

p {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

h2 {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px ;
} 

h3 {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: 15px;
}
a{
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.box_logo{
    width: 50%;
}
#logo_en-tête{
    width: 15%;
}
.en-tête {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-left: 30px;    
}
#box_menu{
    width: 40%;
}
.menu {
    
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: top;
    list-style-type: none;
}

li{
    padding-top: 20px;
    width: 150px;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}

nav a {
    padding-top: 20px;
    width: 150px;
    color:inherit
}
nav li:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

#en_plein{
    padding: 0;
}
#s_inscrire{
    color: #0065FC;
}
.menu_mobile{
    display: none;
}
main{
    margin-left: 30px;

}
#formulaire {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: top;
    width: 275px;
}


#maps_marker{
    text-align: center;
    width: 30px;
    padding-top: 10px  ;
}

.box_recherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F2F2F2 ;
    width: 290px;
    height: 35px;
    border-radius: 10px ;
    
}
#localisation { 
    border: #F2F2F2 solid 1px ;
    padding-left: 15px;
}
.bouton_recherche{
    background-color: #0065FC;
    color: white;
    width: min-content;
    border-radius: 0 10px 10px 0 ;
    border: none;
}
#bouton{
    display: none;
}
#filtres {
    font-weight: 800 ;
}
#filtres_mobile{
    height: 60px;
}

.box_filtres{ 
    margin-top: 20px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
}
.lien_eco:hover{
    background-color: #DEEBFF;
}
.lien_eco{
    text-align: justify;
    margin: 0px 30px 0 15px ;
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    
    font-weight: 800 ;
    padding: 13px 20px 15px 0 ;
}
#logo_eco{
    height: 20px;
    margin: 0 15px 0 0 ;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}


.lien_familial:hover{
    background-color: #DEEBFF;
}
.lien_familial{
    padding: 13px 20px 15px 0;
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    font-weight: 800 ;
    margin-right: 30px;
}
#logo_familial{
    height: 20px;
    width: 20px;
    text-align: center ;
    margin: 0 15px 0 0 ;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}


.lien_romantique:hover{
    background-color: #DEEBFF;
}
.lien_romantique{
    padding: 13px 20px 15px 0;
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    font-weight: 800 ;
    margin-right: 30px;
}
#logo_romantique{
    text-align: center ;
    height: 20px;
    margin: 0 15px 0 0 ;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}

.lien_animaux:hover{
    background-color: #DEEBFF;
}
.lien_animaux{
    
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    width: 230px ;
    font-weight: 800 ;
    padding: 13px 20px 15px 0;
    
}
#logo_animaux{
    height: 20px;
    text-align: center;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}


.information {
    padding: 15px 0 15px 0;
}
.fas.fa-info {
    text-align: center;
    width: 20px;
    height: 20px;
    color: #0065FC;
    border: 1px solid grey;
    border-radius: 100px;
}
.hébergements_populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_hébergements {
    background-color: #F2F2F2 ;
    width: 60% ;
    border-radius: 15px;
    padding: 15px 15px 15px 35px;
}
.box_hébergements_à_ville{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.box_hébergements_à_ville p{
    margin: 0;
    padding-left: 20px;
}
.box_hébergements_à_ville h3{
    padding-left: 20px;
}
.étoiles{
    padding-left: 20px;
}
.box_hébergements_liens {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px ;
    width: 29%;
    height: 200px;
    padding: 0 4px 0 4px  ;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;

}
.photo_hébergements_liens {
    
    width: 99.5%;
    height: 60%;
    padding-top: 4px;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;

}
.texte_hébergements{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#star_bleu {
    color:#0065FC;
}

#star_gris{
    color:#F2F2F2;
}
.afficher_plus{
    margin: 20px;
    font-weight: 800;
}


.box_populaires{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 15px;
    padding: 15px 15px 15px 35px;
}
.box_titre_populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fas.fa-chart-line{
    padding-top: 20px;
}
.box_populaires p{
    margin: 0;
}
.box_liens {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px ;
    width: 90%;
    height: 140px ;
    margin-top: 15px;
    margin-left: 2%;
    

}
.photo_populaires_liens {
    
    width: 35%;
    border-radius: 15px 0 0 15px ;
    padding: 4px;
    object-fit: cover;
}
.texte_populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.box_activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#activites{
    padding-top:30px;
}
.box_activites_hauteur{
    width: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
    border-radius: 15px;
}
.photo_activites_hauteur{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.box_superposer{
    width: 20%;
    height: 450px;
    margin-right: 40px;
}
.box_activites_largeur1{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
    border-radius: 15px;
    margin-bottom: 40px;
}
.photo_activites_largeur1{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}  
#photo_fort_de_promègues{
    height: 196px;

}
#photo_îles_du_frioul{
    height: 116px;
}
.box_activites_largeur2{
    width: 100%;
    height: 46%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
    border-radius: 15px;
    margin-bottom: 40px;
}

.photo_activites_largeur2{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.box_activites h3{
    padding: 15px;
}
.box_footer {
    margin-top: 60px;
    background-color: #F2F2F2 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.box_footer p{
    line-height: 35px;
}
.box_a_propos{
    margin: 40px 0 0 40px; 
    padding-right: 160px;
}
.box_nos_hébergements{
    padding-right: 300px;
    
}
@media screen and (max-width:1280px) {
    .box_hébergements{
        min-width: none;
        width: 80%;
    }
    .box_populaires{
        margin-top: 30px;
        width: 80%;
    }
    .box_populaires_liens{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;   
    }
    .box_liens {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28%;
        height: 250px;

    }
    .photo_populaires_liens{
        width: 98%;
        height: 60%;
        border-radius: 15px 15px 0 0;
    }
    .texte_populaires{
        height: 40%;
    }
    .box_footer{
        justify-content: space-between;

    }
    .box_a_propos{
        padding: 0;
    }    
    .box_nos_hébergements{
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    h1{
        font-size: 50px;
        margin: 0 0 20px 50px;
        width: 80%;
    }
    h2{
        font-size: 55px;
    }
    h3{
        font-size: 40px ;
    }
    p{
        font-size: 20px;
    }
    a{
        font-size: 40px;
    }
    #logo_en-tête{
        width: 60%;
    }
    .mobile_en-tête{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile_nav{
        display: none;
        width: 100%;
        
    }
    ul{
       list-style-type: none; 
    }
    #s_inscrire{
        padding-right:100px ;
    }
    .menu_mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
    }
    .barre_bleu{
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 2px solid #F2F2F2;
    }
    .barre_bleu:hover{
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: 0;
    }
    #en_plein{
        margin: 0 0 60px 50px;

    }
    .box_recherche{
        width: 95%;
        height: 100px;
        margin-left: 50px;
    }
    #formulaire{
        width: 100%;
        justify-content: space-between;
    }
    label{
        width: 10%;
    }
    #maps_marker{
        font-size: 40px;
        padding:30px 20px 20px 30px; 
    }
    #localisation{
        width: 80%;
        font-size: 40px;
        font-weight: 400;
    }
    
    .bouton_recherche{
        display: none;
    }
    #bouton{
        display: inherit;
        padding: 30px 0 30px 30px ;
        font-size: 40px;
        background-color: #0065FC;
        color: white;
        width: 10%;
        border-radius: 0 10px 10px 0 ;
        border: none;

    }
    .box_filtres{
        flex-direction: column;
    }
    #filtres {
        font-size: 30px;
        height: 50px;
    } 
    .box_filtres{
        height: 620px;
    }
    #filtres_mobile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 500px;
    }
    .lien_eco{
        width: 370px;
        height: 60px;
        border-radius: 50px;
        padding: 0 0 20px 0 ;
        margin-right: 0;
        margin-left: 0;
    }
    #logo_eco{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .lien_familial{
        width: 280px;
        height: 60px;
        border-radius: 50px;
        padding: 0 0 20px 0;
    }
    #logo_familial{
        width: 50px;
        height: 50px;
        text-align: center; 
        border-radius: 50px;
    }
    .lien_romantique{
        width: 360px;
        height: 60px;
        border-radius: 50px;
        margin: 0 100px 0 0;
        padding: 0 0 20px 0;
    }
    #logo_romantique{
        width: 50px;
        height: 50px;
        text-align: center; 
        border-radius: 50px; 
    }
    .lien_animaux{
        width: 500px;
        height: 60px;
        border-radius: 50px;
        padding: 0 0 20px 0;
    }
    #logo_animaux{
        width: 50px;
        height: 50px;
        text-align: center; 
        border-radius: 50px;
    }
    .fas.fa-info {
        width: 50px;
        height: 50px;
        font-size: 15px;
    }
    .information{
        margin-left: 50px;
    }
    
    .box_populaires{
        order: 1;
        border-radius: 0;
        width: 100%;
        padding-left: 50px;
    }
    .fas.fa-chart-line{
        font-size: 50px;
        padding-top: 50px;    
    }
    .box_populaires_liens{
        flex-direction: column;
    }
    .box_liens{
        width: 95%;
        height: 350px;
        margin-left: 0;
        flex-direction: row;
        border-radius: 30px;
    }
    .photo_populaires_liens{
        width: 40%;
        height: 92%;
        border-radius: 30px 0 0 30px;
        padding: 15px;
    }
    .texte_populaires{
        height: 100%;
        width: 55%;
    }
    .fas.fa-star{
        font-size: 25px;
    }
    .box_hébergements{
        order: 2;
        background-color: white;
        width: 100%;
    }
    .box_hébergements_à_ville{
        flex-direction: column;
        padding-left: 20px;
    }
    .box_hébergements_liens{
        width: 95%;
        height: 450px;
        border-radius: 30px;
    }
    .photo_hébergements_liens{
        width: 97%;
        padding: 10px;
        border-radius: 30px 30px 0 0 ;
    }
    .hébergements_populaires p{
        font-size: 30px;
    }
    .texte_hébergements{
        padding-bottom: 10px;
    }
    .afficher_plus{
        margin-top: 60px;
    }
    #activites{
        margin-right:60px;
    }
    .box_activites{
        width: 100%;
        flex-direction: column;
        margin-left: 60px;
    }
    .box_activites_hauteur{
        width: 90%;
        border-radius: 30px;
        margin-top: 50px;
    }
    .photo_activites_hauteur{
        width: 100%;
        height: 75%;
        border-radius: 30px 30px 0 0;
    }
    .box_activites h3{
        padding: 30px 0 0 30px;
    }
    .box_superposer{
        width: 90%;
        height: 1000px;
        margin-top: 50px;
        
    }
    .box_activites_largeur1{
        height: 470px;
        margin-bottom: 50px;
        border-radius: 30px ;
    }
    #photo_fort_de_promègues{
        height: 75%;
        border-radius: 30px 30px 0 0 ;
    }
    #photo_îles_du_frioul{
        height: 75%;
        border-radius: 30px 30px 0 0;
    }
    .box_activites_largeur2{
        margin-bottom: 50px;
        border-radius: 30px;
        height: 470px;
    }
    .photo_activites_largeur2{
        height: 75%;
        border-radius: 30px 30px 0 0;
    }
    .box_footer{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .box_a_propos{
        margin: 70px 0 60px 90px ;
    }
    .box_nos_hébergements{
        margin: 0 0 60px 90px ;
    }
    .box_assistance{
        margin: 0 0 60px 90px ;
    }
    .box_footer p{
        line-height: 80px;
    }
}