
/*---------------------------------------------partie font------------------------------------------------*/
p {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

h2 {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px ;
} 

h3 {
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: 15px;
}

a{
    font-family: "Raleway",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 

/*------------------------------------------partie logo et menu--------------------------------------------*/
#box_logo{
    width: 50%;
}

#logo_en-tête{
    width: 15%;
}

.en-tête {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-left: 30px;    
}

#box_menu{
    width: 40%;
}

.menu {
    
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: top;
    list-style-type: none;
}

li{
    padding-top: 20px;
    width: 150px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    padding-top: 20px;
    width: 150px;
    color:inherit
}

nav li:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

#en_plein{
    padding: 0;
}

#s_inscrire{
    color: #0065FC;
}

.menu_mobile{
    display: none;
}

/*----------------------------------------------section recherche-----------------------------------------*/
main{
    margin-left: 30px;

}
#formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: top;
    width: 290px;
}

#maps_marker{
    text-align: center;
    width: 30px;
    padding-top: 10px  ;
}

#box_recherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F2F2F2 ;
    width: 270px;
    height: 35px;
    border-radius: 10px ;
    
}

#localisation { 
    border: #F2F2F2 solid 1px ;
    padding-left: 15px;
    width: 150px;
}

.bouton_recherche{
    background-color: #0065FC;
    color: white;
    width: min-content;
    border-radius: 0 10px 10px 0 ;
    border: none;
}

#bouton{
    display: none;
}

/*---------------------------------------------section filtres---------------------------------------------*/
#filtres {
    font-weight: 800 ;
}

#filtres_mobile{
    height: 60px;
}

.box_filtres{ 
    margin-top: 20px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
}

.lien_eco:hover{
    background-color: #DEEBFF;
}

.lien_eco{
    text-align: justify;
    margin: 0px 30px 0 15px ;
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    
    font-weight: 800 ;
    padding: 13px 20px 15px 0 ;
}

#logo_eco{
    height: 20px;
    margin: 0 15px 0 0 ;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}

.lien_familial:hover{
    background-color: #DEEBFF;
}

.lien_familial{
    padding: 13px 20px 15px 0;
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    font-weight: 800 ;
    margin-right: 30px;
}

#logo_familial{
    height: 20px;
    width: 20px;
    text-align: center ;
    margin: 0 15px 0 0 ;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}

.lien_romantique:hover{
    background-color: #DEEBFF;
}

.lien_romantique{
    padding: 13px 20px 15px 0;
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    font-weight: 800 ;
    margin-right: 30px;
}

#logo_romantique{
    text-align: center ;
    height: 20px;
    margin: 0 15px 0 0 ;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}

.lien_animaux:hover{
    background-color: #DEEBFF;
}
.lien_animaux{
    
    border: #F2F2F2 solid 2px ;
    border-radius: 30px  ;
    width: 230px ;
    font-weight: 800 ;
    padding: 13px 20px 15px 0;
    
}

#logo_animaux{
    height: 20px;
    text-align: center;
    padding: 15px;
    background-color: #DEEBFF ;
    border-radius: 30px  ;
    color: #0065FC;
}

.information {
    padding: 15px 0 15px 0;
}

.fas.fa-info {
    text-align: center;
    width: 20px;
    height: 20px;
    color: #0065FC;
    border: 1px solid grey;
    border-radius: 100px;
}

/*-----------------------------------section hébergements + populaires---------------------------------------*/
#hébergements_populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*------------------------------------------section hébergements---------------------------------------------*/
#box_hébergements {
    background-color: #F2F2F2 ;
    width: 60% ;
    border-radius: 15px;
    padding: 15px 15px 15px 35px;
}

#box_hébergements_à_ville{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#box_hébergements_à_ville p{
    margin: 0;
    padding-left: 20px;
}

#box_hébergements_à_ville h3{
    padding-left: 20px;
}

.étoiles{
    padding-left: 20px;
}

.box_hébergements_liens {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px ;
    width: 29%;
    height: 200px;
    padding: 0 4px 0 4px  ;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;

}

.photo_hébergements_liens {
    
    width: 99.5%;
    height: 60%;
    padding-top: 4px;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;

}

.texte_hébergements{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#star_bleu {
    color:#0065FC;
}

#star_gris{
    color:#F2F2F2;
}

#afficher_plus{
    margin: 20px;
    font-weight: 800;
}

/*---------------------------------------aside populaires-----------------------------------------------*/
#box_populaires{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 15px;
    padding: 15px 15px 15px 35px;
}

#box_titre_populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fas.fa-chart-line{
    padding-top: 20px;
}

#box_populaires p{
    margin: 0;
}

.box_liens {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px ;
    width: 90%;
    height: 140px ;
    margin-top: 15px;
    margin-left: 2%;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
}

.photo_populaires_liens {
    
    width: 35%;
    border-radius: 15px 0 0 15px ;
    padding: 4px;
    object-fit: cover;
}

.texte_populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

/*--------------------------------------aside activites---------------------------------------------------*/
#box_activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activites{
    padding-top:30px;
}

.box_activites_hauteur{
    width: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
    border-radius: 15px;
}

.photo_activites_hauteur{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
.box_superposer{
    width: 20%;
    height: 450px;
    margin-right: 40px;
}

.box_activites_largeur1{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
    border-radius: 15px;
    margin-bottom: 40px;
}

.photo_activites_largeur1{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
} 

#photo_fort_de_promègues{
    height: 196px;

}

#photo_îles_du_frioul{
    height: 116px;
}

.box_activites_largeur2{
    width: 100%;
    height: 46%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 20px 1px #e5e6e7de;
    border-radius: 15px;
    margin-bottom: 40px;
}

.photo_activites_largeur2{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

#box_activites h3{
    padding: 15px;
}

/*------------------------------------------------footer------------------------------------------------------*/
#box_footer {
    margin-top: 60px;
    background-color: #F2F2F2 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#box_footer p{
    line-height: 35px;
}

#box_a_propos{
    margin: 40px 0 0 40px; 
    padding-right: 160px;
}

#box_nos_hébergements{
    padding-right: 300px;
    
}

@media screen and (max-width:1024px) and (min-width: 761px){
/*------------------------------------------font--------------------------------------------------*/
    h1{
        font-size: 25px;
    }
/*---------------------------------------------menu------------------------------------------------*/
    #box_menu{
        width: 50%;
    }
/*-------------------------------------------filtre--------------------------------------------------*/
    #filtres_mobile{
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lien_eco, .lien_familial, .lien_romantique, .lien_animaux {
        padding: 0;
        height: 50px;
    }
    .lien_eco{
        width: 180px;
    }
    .lien_familial{
        width: 150px;
    }
    .lien_romantique{
        width: 170px;
    }

/*--------------------------------------------section hébergements------------------------------------*/
    #box_hébergements{
        min-width: none;
        width: 90%;
        align-items: center;
    }
/*--------------------------------------------aside populaires-----------------------------------------*/
    #box_populaires{
        margin-top: 30px;
        width: 90%;
    }

    #box_populaires_liens{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;   
    }

    .box_liens {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28%;
        height: 250px;
        margin-left: 0;

    }

    .photo_populaires_liens{
        width: 95%;
        height: 60%;
        
        border-radius: 15px 15px 0 0;
    }

    .texte_populaires{
        height: 40%;
    }
/*---------------------------------------------activites----------------------------------------------------*/
    
    .box_activites_hauteur{
        width: 40%;
        height: 450px;
        margin-top: 20px;
    }

    .box_superposer{
        width: 40%;
        margin-top: 20px;
    }



/*----------------------------------------------footer------------------------------------------------------*/
    #box_footer{
        justify-content: space-between;
    }

    #box_a_propos{
        padding: 0;
        
    }

    #box_nos_hébergements{
        padding: 0;
    }

}

@media screen and (max-width: 760px ) {
/*-------------------------------------------font------------------------------------------------------------*/
    h1{
        font-size: 25px;
        margin: 0 0 0 15px;
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 20px ;
    }

    p{
        font-size: 17px;
    }

    a{
        font-size: 20px;
    }
    html{
        width: 100%;
    }

/*-----------------------------------partie logo et menu---------------------------------------------------*/
    #logo_en-tête{
        width: 60%;
    }

    .mobile_en-tête{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile_nav{
        display: none;
        width: 100%;    
    }

    ul{
       list-style-type: none; 
    }

    #s_inscrire{
        padding-top: 0;
        
    }

    .menu_mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
        padding: 0;
    }

    .barre_bleu{
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 2px solid #F2F2F2;
    }

    .barre_bleu:hover{
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: 0;
    }

    #en_plein{
        margin: 20px 0 30px 15px;

    }
    main {
        margin: 0;
    }
    

/*-----------------------------------------section recherche---------------------------------------------------*/
    #box_recherche{
        width: 95%;
        height: 50px;
        margin-left: 15px;
    }

    #formulaire{
        width: 100%;

        justify-content: space-between;
    }

    label{
        width: 15%;
        text-align: center;
    }

    #maps_marker{
        font-size: 25px; 
    }

    #localisation{
        width: 80%;
        font-size: 20px;
        font-weight: 400;
    }
    
    .bouton_recherche{
        display: none;
    }

    #bouton{
        display: inline;
        font-size: 20px;
        background-color: #0065FC;
        color: white;
        width: 15%;
        border-radius: 10px ;
        border: none;
        text-align: center;
        padding-top: 12px;
    }

/*------------------------------------------section filtres---------------------------------------------------*/
    .box_filtres{
        flex-direction: column;
        height: 300px;
        margin-left: 15px;
    }

    #filtres {
        font-size: 23px;
    }

    #filtres_mobile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 250px;
    }
    .lien_eco, .lien_familial, .lien_romantique, .lien_animaux{
        height: 60px;
        padding: 0 ;
        
    }
    .lien_eco{
        width: 195px;
        border-radius: 50px;
        margin-right: 0;
        margin-left: 0;
    }
    #logo_eco{
        width: 60px;
        height: 40px;
        border-radius: 50px;
        padding: 20px 0 0 0;
        text-align: center;
        margin: 0 10px 0 0 ;
    }

    .lien_familial{
        width: 160px;
        border-radius: 50px;
        margin: 0;
    }

    #logo_familial{
        width: 40px;
        height: 40px;
        text-align: center; 
        border-radius: 50px;
        padding: 20px 10px 0 10px;
    }

    .lien_romantique{
        width: 230px;
        border-radius: 50px;
    }

    #logo_romantique{
        width: 40px;
        height: 40px;
        text-align: center; 
        border-radius: 50px; 
        padding: 20px 10px 0 10px;
    }

    .lien_animaux{
        width: 280px;
        border-radius: 50px;
    }

    #logo_animaux{
        width: 40px;
        height: 40px;
        text-align: center; 
        border-radius: 50px;
        padding: 20px 10px 0 10px;
    }

    .fas.fa-info {
        width: 30px;
        height: 25px;
        text-align: center;
        padding-top: 3px;
    }
    .information{
        margin-left: 15px;
    }

    
/*--------------------------------------------------aside populaires------------------------------------------*/
    #hébergements_populaires p{
        font-size: 20px;
    }
    #box_populaires{
        order: 1;
        border-radius: 0;
        width: 100%;
        padding: 10px 0 0 10px;
        height: 660px;
    }
    #box_titre_populaires{
        width: 95%;
    }
    .fas.fa-chart-line{
        font-size: 25px;
        padding-top: 20px;    
    }

    #box_populaires_liens{
        flex-direction: column;
    }

    .box_liens{
        width: 97%;
        height: 170px;
        margin-left: 0;
        flex-direction: row;
        border-radius: 30px;
    }

    .photo_populaires_liens{
        width: 40%;
        height: 93%;
        border-radius: 30px 0 0 30px;
        padding: 7px;
    }

    .texte_populaires{
        height: 100%;
        width: 55%;
    }

    .fas.fa-star{
        font-size: 15px;
    }
/*------------------------------------------------section hébergements---------------------------------------*/
    #box_hébergements{
        order: 2;
        background-color: white;
        width: 100%;
        padding: 0;
    }
    #hébergements{
        padding-left: 15px;
    }
    #box_hébergements_à_ville{
        flex-direction: column;
        padding-left: 15px;
    }

    .box_hébergements_liens{
        width: 95%;
        height: 300px;
        border-radius: 30px;
        padding: 0;
    }

    .photo_hébergements_liens{
        width: 97%;
        height: 60%;
        padding: 5px;
        border-radius: 30px 30px 0 0 ;
    }

   

    .texte_hébergements{
        padding-bottom: 10px;
    }

    #afficher_plus{
        margin-top: 60px;
    }

/*-------------------------------------------aside activites---------------------------------------------------*/
    #activites{
        margin: 0 0 0 15px;
    }

    #box_activites{
        width: 100%;
        flex-direction: column;
        margin-left: 20px;
    }

    .box_activites_hauteur{
        width: 90%;
        height: 300px ;
        border-radius: 30px;
        margin-top: 50px;
    }

    .photo_activites_hauteur{
        width: 100%;
        height: 75%;
        border-radius: 30px 30px 0 0;
    }

    #box_activites h3{
        padding: 30px 0 0 30px;
    }

    .box_superposer{
        width: 90%;
        height: 650px;
        margin-top: 50px;        
    }

    .box_activites_largeur1{
        height: 300px;
        margin-bottom: 50px;
        border-radius: 30px ;
    }

    #photo_fort_de_promègues{
        height: 75%;
        border-radius: 30px 30px 0 0 ;
    }

    #photo_îles_du_frioul{
        height: 75%;
        border-radius: 30px 30px 0 0;
    }

    .box_activites_largeur2{
        margin-bottom: 50px;
        border-radius: 30px;
        height: 300px;
    }

    .photo_activites_largeur2{
        height: 75%;
        border-radius: 30px 30px 0 0;
    }

/*--------------------------------------------------footer----------------------------------------------------*/
    #box_footer{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #box_a_propos{
        height: 180px ;
        margin-left: 90px;
        margin: 40px 0 0 30px;
        padding: 0;
    }

    #box_nos_hébergements{
        height: 150px;
        margin: 0 0 0 30px ;
        padding: 0;
    }

    #box_assistance{
        height: 150px;
        margin: 0 0 0 30px ;
        padding: 0;
    }

    #box_footer p{
        line-height: 35px;
        font-size: 20px;
    }

}
